@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@300;400&family=Murecho:wght@400;500&display=swap');
/* Google Fontsをまず冒頭で読み込む・M PLUS 1pの300と400、Murechoの400と500*/
@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';

/* ダークモード用ユーティリティ（dark:xxx）を動かす定義 */
@custom-variant dark (&:where(.dark, .dark *));

/* debug-outline - 作業確認用アウトラインのカスタムクラス */
/* @layer utilities{
    .debug-outline *{
    outline: 1px solid #bfe6ff;
    }
} */

/* Trio Board用カスタム設定 */
@theme{
    --color-board-black: #333333; /* 本文用カラー */
    --color-board-charcoal: #666666; /* 本文サブカラー */
    --color-board-grey: #f5f5f5; /* 背景色候補１ */
    --color-board-white: #fdfcfb; /* 背景色候補2 */
    --color-board-lightgrey: #f3f4f6; /* 背景色候補3 */
    --color-board-blue: #7ec5c9;
    --color-board-magenta: #e9a4a1;
    --color-board-yellow: #f4b138;
    --color-double-blue: #83acb6;
    --color-double-red: #e35d3e;
    --color-board-border: #d1d5db /*threadカード型レイアウト・ボーター用*/
    --font-body: "M PLUS 1p", sans-serif; /* 本文書体 */
    --font-title: "Murecho", sans-serif; /* タイトル・小見出しなど */


    /* フォントサイズ・ tailwind公式font-sizeベースにvw = 0.15で可変 */

    /* xs */
    --text-xs: calc(0.75rem + 0.15vw);
    --text-xs--line-height: 1.33; /* ≒ calc(1 / 0.75) */

    /* sm */
    --text-sm: calc(0.875rem + 0.15vw);
    --text-sm--line-height: 1.43; /* ≒ calc(1.25 / 0.875) */

    /* base 本文pタグサイズ */
    --text-base: calc(1rem + 0.15vw);
    --text-base--line-height: 1.5;

    /* lg */
    --text-lg: calc(1.125rem + 0.15vw);
    --text-lg--line-height: 1.55; /* ≒ calc(1.75 / 1.125) */

    /* xl */
    --text-xl: calc(1.25rem + 0.15vw);
    --text-xl--line-height: 1.4;

    /* 2xl */
    --text-2xl: calc(1.5rem + 0.15vw);
    --text-2xl--line-height: 1.35;

    /* 3xl */
    --text-3xl: calc(1.875rem + 0.15vw);
    --text-3xl--line-height: 1.25;

    /* 4xl */
    --text-4xl: calc(2.25rem + 0.15vw);
    --text-4xl--line-height: 1.2;

    /* 5xl */
    --text-5xl: calc(3rem + 0.15vw);
    --text-5xl--line-height: 1.1;

    /* 6xl */
    --text-6xl: calc(3.75rem + 0.15vw);
    --text-6xl--line-height: 1.05;

    /* 7xl */
    --text-7xl: calc(4.5rem + 0.15vw);
    --text-7xl--line-height: 1.02;

    /* 8xl */
    --text-8xl: calc(6rem + 0.15vw);
    --text-8xl--line-height: 1;

    /* 9xl */
    --text-9xl: calc(8rem + 0.15vw);
    --text-9xl--line-height: 1;

}

/* モジュラースケール・スケール比1.2固定 × clamp() × vw すべて +0.25vwで伸び一定 */
/* 上下の間隔はmb（マージンボトム）で基本、調整する方針 26.12 */
:root{
    --ratio: 1.2;
    --s-7: clamp(0.279rem, 0.279rem + 0.25vw, 0.335rem);
    --s-6: clamp(0.335rem, 0.335rem + 0.25vw, 0.402rem);
    --s-5: clamp(0.402rem, 0.402rem + 0.25vw, 0.482rem);
    --s-4: clamp(0.482rem, 0.482rem + 0.25vw, 0.579rem);
    --s-3: clamp(0.579rem, 0.579rem + 0.25vw, 0.694rem);
    --s-2: clamp(0.694rem, 0.694rem + 0.25vw, 0.833rem);
    --s-1: clamp(0.833rem, 0.833rem + 0.25vw, 1rem);
    --s0: 1rem; /* 基準値 */
    --s1: clamp(1.2rem, 1.2rem + 0.25vw, 1.44rem);
    --s2: clamp(1.44rem, 1.44rem + 0.25vw, 1.728rem);
    --s3: clamp(1.728rem, 1.728rem + 0.25vw, 2.0736rem);
    --s4: clamp(2.0736rem, 2.0736rem + 0.25vw, 2.488rem);
    --s5: clamp(2.488rem, 2.488rem + 0.25vw, 2.985rem);
    --s6: clamp(2.985rem, 2.985rem + 0.25vw, 3.582rem);
    --s7: clamp(3.582rem, 3.582rem + 0.25vw, 4.298rem);
    --measure: 50ch; /* 日本語は 50–60文字が最も読みやすい by GPT */
}

/* ボタン用のユーティリティ */
/* btnはボタンのベースとなる共通設定 */
@utility btn {
    @apply border-2 rounded-xl border-double-blue
}

/* btn-primaryは作成系のボタン */
@utility btn-primary{
    @apply p-(--s-5) text-stone-50 bg-double-blue shadow-[0_0.3em_0_var(--color-board-blue)]
    hover:text-stone-50 hover:bg-double-blue/60 hover:shadow-[0_0.2em_0_var(--color-board-blue)] transition-colors duration-500 ease-in-out
    active:translate-y-[0.3em] active:shadow-none
}

/* btn-secondary は戻る系のボタン */
@utility btn-secondary{
    @apply p-(--s-5) text-double-blue bg-stone-50 shadow-[0_0.3em_0_var(--color-board-blue)]
    hover:text-double-blue hover:bg-double-blue/20 hover:shadow-[0_0.2em_0_var(--color-board-blue)] transition-colors duration-500 ease-in-out
    active:translate-y-[0.3em] active:shadow-none
}

/* png画像を使っているlogin,logoutボタン用 */
@utility btn-outline {
    @apply p-(--s-2) shadow-[0_0.3em_0_var(--color-board-blue)]
    hover:bg-double-blue/20 hover:shadow-[0_0.2em_0_var(--color-board-blue)] transition-colors duration-500 ease-in-out
    active:translate-y-[0.3em] active:shadow-none
}

/* postの投稿用、名前アイコン代わりの装飾 */
/* @layer componentsは通常のcssなので ;（セミコロン） が必要 */
@layer components {
    .name-label {
        position: relative;
        padding-left: 1rem;
    }

    .name-label::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 0.4em;
        height: 100%;
        background-color: var(--color-board-blue);
    }
}
/* @component name-label {
    relative pl-4
    &::before{
        content: '';
        @apply absolute left-0 top-0 h-full w-[1em] bg-board-blue
    }
} */


/* デフォルトの @themeは変更カスタム */
/* @theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --color-zinc-50: #fafafa;
    --color-zinc-100: #f5f5f5;
    --color-zinc-200: #e5e5e5;
    --color-zinc-300: #d4d4d4;
    --color-zinc-400: #a3a3a3;
    --color-zinc-500: #737373;
    --color-zinc-600: #525252;
    --color-zinc-700: #404040;
    --color-zinc-800: #262626;
    --color-zinc-900: #171717;
    --color-zinc-950: #0a0a0a;

    --color-accent: var(--color-neutral-800);
    --color-accent-content: var(--color-neutral-800);
    --color-accent-foreground: var(--color-white);
} */

@layer theme {
    .dark {
        --color-accent: var(--color-white);
        --color-accent-content: var(--color-white);
        --color-accent-foreground: var(--color-neutral-800);
    }
}

/* 全体のボーダーカラー初期値 を変えているだけ */
/* @layer base {

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
} */

/* Breeze/Jetstream が内部で使っている UI コンポーネント用のスタイル */
[data-flux-field]:not(ui-radio, ui-checkbox) {
    @apply grid gap-2;
}

[data-flux-label] {
    @apply  !mb-0 !leading-tight;
}

/* Form UI 用の強制スタイル */
input:focus[data-flux-control],
textarea:focus[data-flux-control],
select:focus[data-flux-control] {
    @apply outline-hidden ring-2 ring-accent ring-offset-2 ring-offset-accent-foreground;
}

/* \[:where(&)\]:size-4 {
    @apply size-4;
} */
